<center>
	<div class="row-fluid">
		<div class="img-polaroid">
			<%= image_tag @file_name %>
		</div>
	</div>
</center>

<br /><br />	

<center>
	<div class="row-fluid">
		<input type=button class="btn btn-inverse span1" value= "Back" onclick= "history.back()">
		</input>
	</div>
</center>

<br />