<div class="hero-unit">
	<center>
		<h1>Welcome!</h1>
		<br />
		<blockquote>
			<p>Rome wasn't built in a day, but this website was.</p>
			<small>Anonymous</small>
		</blockquote>
	</center>
</div>

<div class="well">
	<div class="row-fluid">
		<div class="span2">
		  	<a class="btn btn-info btn-block" type="button" href="/photo/doe">
		  		Doe Library
			</a>
		</div>
		<div class="span10">
		  	The Doe/Moffitt Libraries together support the teaching, 
		  	research, and instructional needs affiliated with more than 
		  	fifty academic departments and programs in the Arts and Humanities, 
		  	Social Sciences, International and Area Studies, and Undergraduate Services. 
		  	The Doe/Moffitt collections, services, and programs also serve the broader 
		  	campus community, the public, and an international community of scholars and researchers.
	  	</div>
  	</div>
  	<br /><br />
	<div class="row-fluid">
		<div class="span2">
		  	<a class="btn btn-info btn-block" type="button" href="/photo/haas">
		  		Haas Library
			</a>
		</div>
		<div class="span10">
		  	The Thomas J. Long Business Library houses the major collection of 
		  	business administration materials on the University of California, Berkeley campus. 
		  	Materials are acquired to support the research and teaching mission of the university. 
		  	The field of economics is included in the Doe Memorial Library collection.
	  	</div>
  	</div>
  	<br /><br />
	<div class="row-fluid">
	  	<div class="span2">
		  	<a class="btn btn-info btn-block" type="button" href="/photo/hangrove">
		  		Hangrove Library
			</a>
		</div>
		<div class="span10">
		  	The Jean Gray Hargrove Music Library serves the diverse teaching and research 
		  	needs of the UC Berkeley Department of Music, which offers a general undergraduate 
		  	major and graduate programs in musicology, ethnomusicology, and composition, as well as 
		  	embracing a variety of performance activities.
	  	</div>
  	</div>
  	<br /><br />
  	<div class="row-fluid">
	  	<div class="span2">
		  	<a class="btn btn-info btn-block" type="button" href="/photo/kresge">
		  		Kresge Library
			</a>
		</div>
		<div class="span10">
		  	The services and collection of the Kresge Engineering Library support the research 
		  	and teaching programs of the College of Engineering. The print and electronic collections 
		  	include research materials in the following areas: bioengineering, civil engineering, 
		  	computer science, electrical engineering, environmental engineering, industrial engineering, 
		  	materials science, mechanical engineering, mineral engineering, naval architecture, offshore engineering, 
		  	operations research, and nuclear engineering. [Chemical engineering materials are housed in the Chemistry Library.]
	  	</div>
  	</div>
  	<br /><br />
  	<div class="row-fluid">
	  	<div class="span2">
		  	<a class="btn btn-info btn-block" type="button" href="/photo/moffitt">
		  		Moffitt Library
			</a>
		</div>
		<div class="span10">
		  	A core collection of "best books" in the liberal arts, Moffitt serves a broad campus 
		  	readership of both undergraduates and nonspecialists. Strong in the area of contemporary issues, 
		  	the collection not only supports the undergraduate curriculum of UC Berkeley, 
		  	but also encourages students to educate themselves about the world outside the classroom and 
		  	beyond the scope of their disciplines.
	  	</div>
  	</div>
  	<br /><br />
  	<div class="row-fluid">
	  	<div class="span2">
		  	<a class="btn btn-info btn-block" type="button" href="/photo/vlsb">
		  		VLSB Library
			</a>
		</div>
		<div class="span10">
		  	The Marian Koshland Bioscience and Natural Resources Library provides services 
		  	and collections to support the research and teaching needs of the Departments of Integrative Biology 
		  	and Molecular and Cell Biology within the Division of Biological Sciences 
		  	in the College of Letters and Science; and the Departments of Agricultural and Resource Economics, 
		  	Environmental Science, Policy and Management, Nutritional Sciences and Toxicology, 
		  	and Plant and Microbial Biology within the College of Natural Resources. 
		  	The collection includes materials in bioinformatics, molecular and cell biology, botany, 
		  	environmental science, physiology, ecology, nutrition and food science, plant pathology, soil science, 
		  	entomology, forestry and zoology.
	  	</div>
  	</div>
  	<br /><br />
  	<div class="row-fluid">
	  	<div class="span2">
		  	<a class="btn btn-info btn-block" type="button" href="/photo/wurster">
		  		Wurster Library
			</a>
		</div>
		<div class="span10">
		  	The Environmental Design Library is one of the premier architecture, landscape architecture, 
		  	and city and regional planning libraries in North America. 
		  	The merger of four departmental libraries formed the Library: Architecture, Landscape Architecture, 
		  	City and Regional Planning, and Decorative Arts, formerly Household Arts.
	  	</div>
	</div>
</div>

<br /><br /><br /><br /><br />

<center>
	<strong>Febrianto Djunaidi</strong><br>
	<a href="mailto:#">febrianto5+ph@gmail.com</a>
</center>

<br />